
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row site-content-table">
        <div class="col-sm-3 pull-left site-content-table-footer"></div>
        <div class="col-sm-9 pull-right site-content-table-footer">
            <div class="row site-row-margin-top">
                <div class="col-sm-12 center-block">
                    <a href="/" target="_self" rel="nofollow">
                        <img src="~/Images/DK_black_friday.jpg" alt-style="max-width: 100%"/>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-sm-3 site-content-table-header">
            <div id="productMenu" class="collapse navbar-collapse">
                <ul id="menu" class="site-nav site-row-margin-top">
                    <li class="site-nav-item">
                        <h5>Computer</h5>
                        <ul class="site-nav hidden-xs">
                            <li>
                                <h6>
                                    <a href="/">Bærbar</a>
                                </h6>
                            </li>
                            <li>
                                <h6>
                                    <a href="/">Skærm</a>
                                </h6>
                            </li>
                            <li>
                                <h6>
                                    <a href="/">Stationær</a>
                                </h6>
                            </li>
                        </ul>
                        <span class="hidden-xs">
                            <a href="/">Vis flere</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
