/* Buttons and input textbox divs for BuyOption Box */
.buyOptionDiv {
  max-height: none;
}
.numbersOfProductText {
  width: 20px;
  align-content: center;
  text-align: center;
}
/* CSS Search Bar */
.bottomPlaced {
  position: absolute;
  bottom: 0;
}
/* Css for Header Basket */
/* outer link */
.buyLink:link,
.buyLink:hover,
.buyLink:visited,
.buyLink:active {
  color: black;
}
/* outer div */
.basketHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.basketTotal {
  display: inline-block;
  height: 100%;
}