body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
/* Link that black */
.itemLongLink:link,
.itemLongLink:hover,
.itemLongLink:visited,
.itemLongLink:active {
  color: black;
}
.testBorder {
  border: 1px solid black;
}
.fixedItemSize {
  height: 100px;
}
.temp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BottomTxtDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
/* Menu to Hardware Body */
/* Div surrounding Menu Header */
.productHeaderMenu {
  height: 35px;
  /*border: 1px solid black;*/
  padding-top: 6px;
  padding-left: 14px;
  font-weight: bold;
}
.hardwareMenu {
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}
.hardwareMenu li {
  background-color: #f1f1f1;
  color: #000;
  padding: 5px 16px 5px 10px;
  margin-bottom: 2px;
  text-decoration: none;
}
.hardwareMenu li a {
  display: block;
  color: #000;
  width: 100%;
  padding: 4px;
  text-decoration: none;
}
/* A link called by classname and added:hover */
.categgoryBodyMenu:hover {
  background-color: #ebe9e9;
  color: black;
  text-decoration: underline;
}
/* 
    Product List Content is placed here 
*/
.productContent {
  margin-top: 10px;
}
/* Product Hover */
.hoverBorder:hover {
  border: 1px solid grey;
}
.itemHoverPadding {
  border: 1px solid white;
}
/*
    Product Details Close Up is placed here
*/
.inside-full-height {
  /*
  // if you want to give content full height give him height: 100%;
  // with content full height you can't apply margins to the content
  // content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
  */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
/* columns of same height styles */
.content {
  height: 100%;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
/* Stolen from some site */
@media (min-width: 768px) {
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-sm-top {
    vertical-align: top;
  }
  .col-sm-middle {
    vertical-align: middle;
  }
  .col-sm-bottom {
    vertical-align: bottom;
  }
}
/*Some customized bootstrap */
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}
.jumbotron h1 {
  line-height: 1;
  color: inherit;
}
.jumbotron p {
  line-height: 1.4;
}
.container .jumbotron {
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1 {
    font-size: 63px;
  }
}
#createSave {
  margin-top: 20px;
}
.field-validation-error {
  color: red;
}
.btn-primary {
  background: #0060ac;
}
.input-validation-error {
  border: 1px solid red;
}
.form-control {
  margin-top: 10px;
}
.control-label {
  padding-top: 15px;
}
.dl-horizontal {
    padding-top: 15px;
    min-height: 10px;
}
.input-group-btn {
  float: right;
}