@model DeveloperDOtnetStoreProject.Models.Views.ProductHomepageViewModel
@{
    ViewBag.Title = "Hardware Forside";
}

<!-- <div class="container"> -->
    <div class="row site-content-table">
        <div class="row">
            <div class="col-sm-12">
                <h5><b>Her er du:</b> @Model.hereAreYou > @Model.header</h5>
            </div>
        </div>
        <!-- Set up Left (3 Grid) and Right (9 Grid) coloum -->
        <div class="col-sm-3 pull-left site-content-table-footer"></div>
        <div class="col-sm-9 pull-right site-content-table-footer">
            <div class="row site-row-margin-top">
                <div class="col-sm-12 center-block">
                    <a href="/" target="_self" rel="nofollow">
                        <img src="~/Images/DK_black_friday.jpg" alt-style="max-width: 100%" />
                    </a>
                </div>
            </div>
        </div>
        <!-- Here A Start -->
        <!-- Place holder for the Left div as a Menu -->
        <div class="col-sm-3">
            
            <nav class="navbar navbar-light bg-faded">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="productHeaderMenu">
                        <span class="textHeader">@Model.header</span>
                    </div>
                    <ul class="hardwareMenu">
                        @foreach (var category in Model.categoryHeaders)
                        {
                            <li><a class="categgoryBodyMenu" href="/ProductForm/HomepageCategory/@category.CategoryHeaderModelId">@category.Name</a></li>
                        }
                    </ul>
                </div>
            </nav>
        </div>

        <div class="col-sm-9 pull-right productContent" id="content">
            
        </div>
    </div>
<!-- </div> -->
