
<nav class="hidden-xs hidden-sm col-md-4 right-nav col-md-push-8 ">
    <div class="nav navbar-right">
        <a href="~/Basket/Index" class="buyLink">
            <ul class="nav">
                <li>
                    <div class="row-height testBorder">
                        <!-- Just a Grid Fill Up Box -->
                        <div class="col-sm-8 col-height shoppingCart" id="shoppingCart">
                            <div class="col-sm-3 inside inside-full-height testBorder basketCounter" style="" id="basketCounter">
                                <span class="basketHelper"></span><img class="basketImgCounter" src="~/Images/Icons/BasketCart.png" id="basketImgCounter" />
                            </div>
                            <div class="col-sm-9 basketTotal inside inside-full-height">
                                Indkøbsvogn<br />
                                <span class="basketText">Indkøbsvognen er tom</span>
                                @*Html.ActionLink("Indkøbsvogn", "Index", "Basket", htmlAttributes: new { @class = "shoppingBasketLogo" })*@
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </a>
    </div>
</nav>

